.user {
    flex: 4;
    padding: 20px;
    }
    
    .userTitleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .userAddButton {
        width: 80px;
        border: none;
        padding: 5px;
        background-color: rgb(194, 57, 102);
        border-radius: 10px;
        cursor: pointer;
        color: aliceblue;
        font-size: 16px;
    }
    
    .userContainer {
        display: flex;
        margin-top: 20px;
    }
    
    .userShow {
        flex: 1;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .userUpdate {
        flex: 2;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-left: 20px;
    }
    
    .userShowTop {
        display: flex;
        align-items: center;
    }
    
    .userShowImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .userShowTopTitle {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    
    .userShowUsername {
        font-weight: 600;
    }
    
    .userShowUserTitle {
        font-weight: 300;
    }
    
    .userShowButton {
        margin-top: 20px;
    }
    
    .userShowTopTitleAccount {
        font-size: 24px;
        font-weight: 600;
        color: rgb(29, 30, 31);
    }
    
    .userShowInfo {
        display: flex;
        align-items: center;
        margin: 20px 0px;
        color: #444;
    }
    
    .userShowIcon {
        font-size: 20px !important;
        margin-right: 10px;
    
    }
    
    .userUpdateImg {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        object-fit: cover;
        margin-right: 10px;
    }
    
    .userUpdateForm {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .userUpdateTitle {
        font-size: 24px;
        font-weight: 600;
    }
    
    .userUpdateItem {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .userUpdateItem>label {
        margin-bottom: 5px;
        font-size: 16px;
    }
    
    .userUpdateInput {
        /* border: none; */
        width: 250px;
        height: 30px;
        border-bottom: 1px solid gray;
    }
    
    .userUpdateRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .userUpdateUpload {
        display: flex;
        align-items: center;
    }
    
    .userUpdateIcon {
        cursor: pointer;
    }
    
    .userUpdateButton {
        width: 100px;
        border-radius: 10px;
        border: none;
        padding: 5px;
        margin-left: 250px;
        cursor: pointer;
        background: rgb(41, 19, 121);
        color: aliceblue;
        font-weight: 600;
    }

    .userTitle {
        font-family: 'Times New Roman', Times, serif;
    }